.label{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    display:block;
    color:$text-01;
    margin-bottom: .8rem;
    text-transform: capitalize;
    &--required{
        color: $hover-danger;
        margin: 0 .4rem;
    }
}