$brand-01:#3d70b2;
$brand-02:#5596e6;
$brand-03:#41d6c3;

$ui-01:#ffffff;
$ui-02:#f4f7fb;
$ui-03:#dfe3e6;
$ui-04:#8897a2;
$ui-05:#5a6872;

$text-01:#152935;
$text-02:#5a6872;
$text-03:#cdd1d4;

$inverse-01:#ffffff;
$inverse-02:#272d33;

$field-01:#f4f7fb;
$field-02:#ffffff;

$hover-primary:#30588c;
$hover-primary-text:#294c86;
$hover-danger:#bd1427;
$hover-secondary:#3d70b2;
$hover-row:rgba(85,150,230,.1);

$support-01:#e0182d;
$support-02:#5aa700;
$support-03:#efc100;
$support-04:#5aaafa;

