.divider{
    background-color:$hover-row;
    height: 1px;
    width: 100%;
    margin: 1rem 0;
}

.util-margin-top-large{
    margin-top: 3.2rem;
}
.util-margin-bottom-large{
    margin-bottom: 3.2rem;
}